
/* colors */
.primary {
  color: $primaryColor
}

.secondary {
  color: $secondaryColor
}

.bg-primary {
  background-color: $primaryColor
}

.bg-secondary {
  background-color: $secondaryColor
}
.bg-success {
  background: #30a121
}

.text-white {
  color: #ffffff;
}

/* divs */
.container {
  width: 100%;
}

div.show {
  visibility: visible;
}

div.hide {
  visibility: hidden;
}

.text-center {
  text-align: center;
}

/* paddings */
.p-x {
  padding-right: 5px;
  padding-left: 5px;
}

.display-inline {
  display: inline;
}

.b-radius {
  border-radius: 5px;
}

