@import 'variables';

#logout-btn {
  background-color:black;
  border: 1px solid white;
  color: white;
  border-radius: 5%;
  padding: 5px 4px;
  position: absolute;
  right: 10px;
  top: 5px;
  font-weight: bold;
}
